/* bj_screen */
*{
    box-sizing: border-box;
    font-family:"Malgun Gothic";
}
body{
    margin: 0;
}
.bj_entire{
    position: relative;
    max-width: 500px;
    width: 100%;
    height: 640px;
    margin: 0 auto;
    background-color:#818FB4;
}
.bj_up_screen{
    position : relative;
    height: 60px;
}
.tag_container{
    max-width: 180px;
    width: 100%;
    float: left;
}
.select-btn{
    display: flex;
    height: 40px;
    width: 160px;
    margin: 10px 10px 10px 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.select-btn .btn-text{
    font-size: 13px;
    /* font-weight: 400; */
    color: #333;
}
.select-btn .arrow-dwn{
    display: flex;
    height: 21px;
    width: 21px;
    color: #fff;
    font-size: 13px;
    border-radius: 50%;
    background: #435585;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.select-btn.open .arrow-dwn{
    transform: rotate(-180deg);
}
.list-items{
    position: relative;
    border-radius: 8px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1;
    width: 160px;
    margin-left: 10px;
}
.select-btn.open ~ .list-items{
    display: block;
}
.list-items .item{
    display: flex;
    align-items: center;
    list-style: none;
    height: 30px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 10px;
    border-radius: 8px;
    font-size: 13px;
}
.list-items .item:hover{
    background-color: #e7edfe;
}
.item-text{
    display: none;   
}
.item .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 15px;
    border-radius: 4px;
    margin-right: 10px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}
.item.checked .checkbox{
    background-color: #363062;
    border-color: #363062;
}
.checkbox .check-icon{
    color: #fff;
    font-size: 9px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}
.item.checked .check-icon{
    transform: scale(1);
}

.title_container{
    float: left;
    max-width: 245px;
    width: 100%;
    display: flex;
    align-items: center;
}
#game_title {
    height: 40px;
    width: 160px;
    align-items: center;
    margin: 10px 10px 10px 0;
    font-size: 13px;
    padding: 0 14px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border: none;
    flex: 1;
}
#add_btn{
    height: 40px;
    width: 65px;
    margin: 10px 10px 10px 0;
    align-items: center;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 13px;
}
.save_container{
    max-width: 75px;
    width: 100%;
    float: left;
}
#game_save{
    height: 40px;
    width: 65px;
    margin: 10px 10px 10px 0;
    align-items: center;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border: none;
    font-size: 13px;
}
.list_container{
    position: absolute;
    width: 100%;
}

#what_game_list > li {
    list-style: none;
    height: 100px;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 15px 20px 10px 20px;
}
#img{
    width: 80px;
    height: 80px;
    margin: 10px 20px 10px 20px;
    float: left;
}
#add_gamename{
    width: 220px;
    height: 60px;
    float: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 55px;
    
}
#Game_Check{
    float:left;
    height: 60px;
    width: 120px;


}
#add_tag{
    float: left;
    height: 40px;
    width: 340px;
    font-size: 14px;
    line-height: 10px;
}







#check-btn { display: none; }
#check-btn:checked ~ .menubars { display: block; } 
.menubars { display: none; }

#pro_title{
    text-align: center;
}
#pro_img{
    text-align: center;
}
#input_data{
    float:left;
    /* width: 33%; */
}
#tag_list{
    line-height: 1em;
}
#what_game_list{
    line-height: 5em;
}
 [id="Game_Check"] {
    appearance: none;
    position: relative;
    border: max(2px, 0.1em) solid gray;
    border-radius: 1.25em;
    width: 2.25em;
    height: 1.25em;
  }
  
  [id="Game_Check"]::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: scale(0.8);
    background-color: gray;
    transition: left 250ms linear;
  }
  
  [id="Game_Check"]:checked {
    background-color: tomato;
    border-color: tomato;
  }
  
  [id="Game_Check"]:checked::before {
    background-color: white;
    left: 1em;
  }
  
  [id="Game_Check"]:disabled {
    border-color: lightgray;
    opacity: 0.7;
    cursor: not-allowed;
  }
  
  [id="Game_Check"]:disabled:before {
    background-color: lightgray;
  }
  
  [id="Game_Check"]:disabled + span {
    opacity: 0.7;
    cursor: not-allowed;
  }
  
  [id="Game_Check"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) solid tomato;
  }
  
  [id="Game_Check"]:enabled:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  } 
/*
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}


//ON OFF 글자 추가

.slider::after {
    content: "OFF";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: calc(100% - 27px);
    transform: translateY(-55%);
    font-size: 10px;
    color: #555;
}

input:checked+.slider::after {
    content: "ON";
    left: 10px;
    color: #fff;
}
*/





/* USER SCREEN */
.user_screen{
    position: relative;
    max-width: 700px;
    width: 700px;
    height: 50px;
}
.user_pic{

    float: left;
    max-width: 40px;
    width: 100%;
}
.user_title{
    font-size: 23px;
    margin-top: 8px;
    font-weight: bold;
    float: left;
}
hr{
    clear: both;
    width: 70%;
    height: 3px;
    background-color: #fff;
}