* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: ; */
}

/* bj_screen */
*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}
body{
    background-color:#818FB4;
}
.tag_container{
    position: relative;
    max-width: 280px;
    width: 100%;
    margin: 30px auto 30px;
    float: left;
}
.select-btn{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.select-btn .btn-text{
    font-size: 15px;
    font-weight: 400;
    color: #333;
}
.select-btn .arrow-dwn{
    display: flex;
    height: 21px;
    width: 21px;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    background: #435585;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.select-btn.open .arrow-dwn{
    transform: rotate(-180deg);
}
.list-items{
    position: relative;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
}
.select-btn.open ~ .list-items{
    display: block;
}
.list-items .item{
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}
.list-items .item:hover{
    background-color: #e7edfe;
}
.item .item-text{
    font-size: 16px;
    font-weight: 400;
    color: #333;
}
.item .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}
.item.checked .checkbox{
    background-color: #363062;
    border-color: #363062;
}
.checkbox .check-icon{
    color: #fff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}
.item.checked .check-icon{
    transform: scale(1);
}

.title_container{
    position: relative;
    float: left;
    max-width: 360px;
    width: 100%;
    margin: 30px auto 30px;
}
#game_title {
    height: 40px;
    width: 280px;
    align-items: center;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border: none;
}
#add_btn{
    height: 40px;
    width: 60px;
    align-items: center;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border: none;
}
.save_container{
    position: relative;
    max-width: 150px;
    width: 100%;
    margin: 30px auto 30px;
    float: left;
}
#game_save{
    height: 40px;
    width: 60px;
    align-items: center;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border: none;
}
.list_container{
    position: absolute;
    max-width: 710px;
    width: 100%;
    margin-top: 100px;
}

#what_game_list > li {
    height: 120px;
    align-items: center;
    padding: 10 16px;
    margin-top: 30px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#what_game_list >li::marker {
    margin-left: 50px;
}










#check-btn { display: none; }
#check-btn:checked ~ .menubars { display: block; } 
.menubars { display: none; }

#pro_title{
    text-align: center;
}
#pro_img{
    text-align: center;
}
#input_data{
    float:left;
    /* width: 33%; */
}
#tag_list{
    line-height: 1em;
}
#what_game_list{
    line-height: 5em;
}
 [id="Game_Check"] {
    appearance: none;
    position: relative;
    border: max(2px, 0.1em) solid gray;
    border-radius: 1.25em;
    width: 2.25em;
    height: 1.25em;
  }
  
  [id="Game_Check"]::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: scale(0.8);
    background-color: gray;
    transition: left 250ms linear;
  }
  
  [id="Game_Check"]:checked {
    background-color: tomato;
    border-color: tomato;
  }
  
  [id="Game_Check"]:checked::before {
    background-color: white;
    left: 1em;
  }
  
  [id="Game_Check"]:disabled {
    border-color: lightgray;
    opacity: 0.7;
    cursor: not-allowed;
  }
  
  [id="Game_Check"]:disabled:before {
    background-color: lightgray;
  }
  
  [id="Game_Check"]:disabled + span {
    opacity: 0.7;
    cursor: not-allowed;
  }
  
  [id="Game_Check"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) solid tomato;
  }
  
  [id="Game_Check"]:enabled:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  } 
/*
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}


//ON OFF 글자 추가

.slider::after {
    content: "OFF";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: calc(100% - 27px);
    transform: translateY(-55%);
    font-size: 10px;
    color: #555;
}

input:checked+.slider::after {
    content: "ON";
    left: 10px;
    color: #fff;
}
*/